@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 100px;
    height: 700px;
    margin: 0 10px;
    cursor: pointer;
    transition: width 1s ease-in;
}

.active {
    width: 1000px;
}

.card img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.card span {
    display: none;
    text-transform: capitalize;
}

.card.active span {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}