@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(73, 73, 73);
    width: 100vw;
    overflow-x: hidden;
}

.container {
    background: #fff;
    width: 100vw;
    min-height: 100vh;
    transform-origin: top left;
    transition: transform 0.3s linear;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 50%;
    transition: transform 0.3s linear;
}

.circle .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    height: 100px;
}

.circle .btn:focus {
    outline :none;
}

.circle .btn#open {
    left: 60%;
}

.circle .btn#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav nav ul li {
    transform: translateX(0);
}

nav {
    position: fixed;
    bottom: 20px;
    left: 0;
    color: #000;
}

nav ul {
    list-style-type: none;
    padding: 40px;
}

nav ul li {
    color: #fff;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
    transition-delay: 0.3s;
}

nav ul li + li {
    margin-left: 10px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 20px;
    transform: translateX(-200%);
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 70px 0;
}

.content img {
    max-width: 800px;
    object-fit: cover;
}

.content h1 {
    font-size: 30px;
    font-weight: 500;
}

.content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.content small {
    font-style: italic;
}