@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e9e9e9;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    text-align: center;
    padding: 4rem 3rem;
}

.header h2 {
    letter-spacing: 0.1rem;
}

.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.showcase img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.showcase .tab-container {
    background-color: #fff;
}

.tab-container .content-area {
    padding: 1rem 2rem;
}

.tab-container .content-area h4 {
    margin-bottom: 1rem;
}

.showcase .btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.showcase .btn-container .tab-btn {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease-in;
}

.showcase .btn-container .tab-btn:hover {
    color:cornflowerblue; 
    background-color: rgb(206, 206, 206);
}

.active {
    background-color: #fff;
}

.content {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 900px) {
    .showcase {
        grid-template-columns: 1fr;
    }
}