@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(236, 235, 235);
    text-align: center;
    overflow-x: hidden;
}

.box {
    background: #74b9ff;
    width: 300px;
    margin: 20px auto;
    padding: 60px 0;
    color: #fff;
    font-size: 32px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-400%);
    transition: 0.3s linear;
}

.box:nth-child(even) {
    transform: translateX(400%);
}

.box.active {
    transform: translateX(0%);
}